@charset "UTF-8";

body{
    background-color: var(--fundoIcone);
}

#areaTopoBastidores{
    background-color: var(--corPrin);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 30px 0px 0px 0px;
    
    position: relative;
}

#areaTopoBastidores p{
    font-size: 1.1em;
}

#svgBastidores{
    width: 100%;
    overflow: hidden;
    line-height: 0;
    position: relative;
    bottom: 0;
}

#svgBastidores svg{
    width: 100%;
    height: 80px;
    display: block;
}

.estatisticaEventos{
    background-color: white;

    border-radius: 10px;
    width: 200px;
    height: 200px;

    margin: 10px;

    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.405);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.estatisticaEventos p{
    text-align: center;
}

#containerEventos{
    max-width: 1000px;
}

.imgBastidores{
    width: 300px;

    border-radius: 10px;

    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.405);

    margin: 10px;
}