@charset "UTF-8";

/*as paginas de especialidades seguem as mesmas estruturas basicamente*/

/*inicio av neuro psico*/

#containerGeralSobreEspecialidade{
    max-width: 1000px;
}

#topoEspecialidadeAvNeuro{
    width: 100%;
}

#imgAvNeuroBCKG{
    width: 100%;
    height: 30vh;

    background-image: url(../IMGS/especialidades/fundo_avNeuropsicologica.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.degrade{
    width: 100%;
    height: 100%;

    background-image: linear-gradient(to top,  var(--corSec) , transparent);
}

#nomeEspecialidade{
    background-color: var(--corSec);

    height: 30vh;
}

#nomeEspecialidade h1{
    color: white;
}

.textoEspecAzul{
    color: var(--corSec);

    font-size: 0.9em;

    font-family: 'inter bold';
}

#containerTranstornos{
    width: 100%;
}

.transtorno{
    background-color: var(--corSec);

    width: 90%;
    max-width: 350px;

    height: 70px;

    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 10px;

    padding: 10px;

    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.548);
}

.transtorno p{
    color: white !important;
    text-align: center;

    margin: 0px;
}

.transtorno h3{
    color: white;

    margin: 0px;

    font-size: 1.1em;
}

#oqAvaliado{
    background-color: var(--corSec);
}

#oqAvaliado h2{
    color: white;

    margin: 0;
}

#containerCardsAvaliados{
    max-width: 1000px;
}

.avaliados{
    background-color: white;

    width: 90%;
    max-width: 330px;

    border-radius: 10px;

    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.455);
}

.avaliados h3{
    margin: 0px;
}

#containerCardsEspecialidades{
    max-width: 1000px;
}

.cardEspecialidadeInfo{
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
    
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.455);

    border-radius: 10px;

    margin: 18px 15px;

    width: 90%;

}

.cardEspecialidadeInfo h2{
    padding-top: 10px;
}

/*fim sobre a especialidade av neuro psico*/

/*Inicio sobre a especialdiade av bariatrica*/

#imgAvBariatricaBCKG{
    width: 100%;
    height: 30vh;

    background-image: url(../IMGS/especialidades/fundo_avAcompPrePosBariatrica.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

#bannerTrilhaSaudavel{
    width: 90%;
    max-width: 500px;

    border-radius: 10px;

    margin-bottom: 20px;

    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.455);
}

/*fim sobre a especialdiade av bariatrica*/

/*inicio sobre a especialidade acupuntura*/

#imgAcupunturaBCKG{
    width: 100%;
    height: 30vh;

    background-image: url(../IMGS/especialidades/fundo_acupuntura.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*inicio sobre a especialidade acupuntura*/

/*inicio sobre a especialidade psicologia*/

#imgPsicologiaBCKG{
    width: 100%;
    height: 30vh;

    background-image: url(../IMGS/especialidades/fundo_psicologia.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*fim sobre a especialidade psicologia*/

/*inicio sobre a especialidade fonoaudiologia*/

#imgFonoaudiologiaBCKG{
    width: 100%;
    height: 30vh;

    background-image: url(../IMGS/especialidades/fundo_fonoaudiologia.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*fim sobre a especialidade fonoaudiologia*/

/*inicio sobre a especialidade nutricao*/

#imgNutricaoBCKG{
    width: 100%;
    height: 30vh;
    
    background-image: url(../IMGS/especialidades/fundo_nutricao.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*fim sobre a especialidade nutricao*/