@charset "UTF-8";

@media screen and (min-width:1200px){

    #ulMenu{

        justify-content: center !important;
    }

    .liBtnFaleConosco{
        display: block;

        margin: 0px;
    }

    #containerHeader{
        display: flex;

        justify-content: center;
    }

    header li{
        margin: 0px 20px;
        padding: 0px;

        width: auto;
    }

    #liEspecialidades{
        width: 125px;

        position: relative;
    }

    #especialidades{
        position: absolute;

        width: 250px;

        top: 60%;
        left: 34%;

        z-index: 2000;

        background-color: white;
    }

    #especialidades li{
        width: 250px;

        background-color: var(--corSec);

        color: white;
    }

    #especialidades li:hover{
        background-color: rgb(138, 138, 138);
    }

    #especialidades a{
        color: white !important;
    }

    .estatisticas p, #areaTopoBastidores p{
    font-size: 1.2em;
    }

    .textoEspecAzul,.textoCinza{
        font-size: 1.2em;
    }

    .transtorno p{

    font-size: 1em !important;
    }

    .btnFaleConosco2{
        padding: 10px;
    }

    iframe{
        width: 500px;
        height: 250px;
    }

    .modalImg img{ 
        /* Estilo para a imagem ampliada dentro do modal */
        max-width: 90%;
        max-height: 90vh;
    }


    .fechar {
        /* Botão de fechar (o 'x') */
        position: absolute;
        top: 20px;
        right: 35px;

        color: #f1f1f1;

        font-size: 50px;
        font-weight: bold;
        text-decoration: none;

        cursor: pointer;

        transition: all 0.3s ease;

        z-index: 10000;

        line-height: 1;

        padding: 10px 15px;
    }

    .btnFaleConoscoSobre{
    align-self: start;
    }

    #imgAvNeuroBCKG{
    height: 40vh !important;

    }
}