@charset "UTF-8";

@media screen and (min-width:1200px){

    #ulMenu{

        justify-content: center !important;
    }

    .liBtnFaleConosco{
        display: block;

        margin: 0px;
    }

    #containerHeader{
        display: flex;

        justify-content: center;
    }

    header li{
        margin: 0px 20px;
        padding: 0px;

        width: auto;
    }

    #liEspecialidades{
        width: 125px;

        position: relative;
    }

    #especialidades{
        position: absolute;

        width: 250px;

        top: 60%;
        left: 34%;
    }

    #especialidades li{
        width: 250px;

        background-color: white;
    }

    #especialidades li:hover{
        background-color: rgb(138, 138, 138);
    }

    #especialidades a{
        color: var(--corSec) !important;
    }

    #containerProSaibaMais p{
        font-size: 1.1em;
    }

    .btnFaleConosco2{
        padding: 10px;
    }

    iframe{
        width: 500px;
        height: 250px;
    }
}