@charset "UTF-8";

#areaPublicacao{
    background-image: linear-gradient(to bottom, var(--corPrin), white);

    width: 90%;
    max-width: 800px;

    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.405);
}

#cardLivro{
    background-color: white;

    width: 80%;
    max-width: 400px;

    border-radius: 10px;

    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.405);

    margin-bottom: 10px;
}

#imgCapaLivro{
    width: 150px;

}

#imgCapaLivro img{
    width: 100%;

    border-radius: 10px;
}

#descricaoLivro{
    font-weight: bold;
}

#linkInstagram{
    background-image: linear-gradient(to right, var(--roxo), var(--rosa), var(--laranja) );

    border-radius: 10px;

    text-decoration: none;

    width: 90%;
    max-width: 600px;
}

#linkInstagram:hover{
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.405);
}

#containerIconeInstagram{
    width: 40px;
    height: 40px;

    border-radius: 50%;

    background-color:rgba(255, 255, 255, 0.636);
}

#iconeInstagram{
    width: 90%;
}