@charset "uTf-8";


/*inicio area da introducao do sobre*/
#containerGeralIntro{
    max-width: 1000px;
}

#container1{
    max-width: 600px;
}

#imgFundadoras{
    max-width: 350px;

    width: 80%;
    z-index: 0;

    margin: auto;
}

.imgFundadorasProfi{
    width: 90%;
    max-width: 250px;

    border-radius: 10px;

    margin: 10px;
}

.imgFundadorasProfi:hover{
    filter: brightness(50%);
}

#containerImgJuntas{
    position: relative;
}

#imgPontilhada{
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 20%;
    transform: translate(-50%,-50%);

    width: 200px;
}

.btnFaleConoscoSobre{
    align-self: center;
}

/*fim area da introducao do sobre*/

/*inicio area do divisor*/

#divisorFita{
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

#divisorFita svg{
    width: 100%;
    height: 30px;
    display: block;
}

#svg1{
    rotate: 180deg;
}

/*fim area do divisor*/


/*inicio area ideais*/

#containerIdeais{
    max-width: 1000px;
}

.ideais{
    width: 320px;

    margin-bottom: 20px;
}

.ideais h2{
    color: var(--corPrin);
    text-align: start;
}

/*fim area ideais*/

/*fim area da introducao do sobre*/