@charset "uTf-8";


/*inicio area da introducao do sobre*/
#containerGeralIntro{
    max-width: 1000px;
}

#container1{
    max-width: 600px;
}

#imgFundadoras{
    max-width: 350px;

    width: 80%;
    z-index: 0;

    margin: auto;
}

.imgFundadorasProfi{
    width: 90%;
    max-width: 250px;

    border-radius: 10px;

    margin: 10px;
}

.imgFundadorasProfi:hover{
    filter: brightness(50%);
}

#containerImgJuntas{
    position: relative;
}

#imgPontilhada{
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 20%;
    transform: translate(-50%,-50%);

    width: 200px;
}

.btnFaleConoscoSobre{
    align-self: center;
}

/*fim area da introducao do sobre*/