@charset "uTf-8";


/*inicio area da introducao do sobre*/
#containerGeralIntro{
    max-width: 1000px;
}

#container1{
    max-width: 600px;
}

#imgFundadoras{
    max-width: 350px;

    width: 80%;
    z-index: 0;

    margin: auto;
}

.imgFundadorasProfi{
    width: 90%;
    max-width: 250px;

    border-radius: 10px;

    margin: 10px;
}

.imgFundadorasProfi:hover{
    filter: brightness(50%);
}

#containerImgJuntas{
    position: relative;
}

#imgPontilhada{
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 25%;
    transform: translate(-50%,-50%);

    width: 200px;
}

.btnFaleConoscoSobre{
    align-self: center;
}

/*fim area da introducao do sobre*/

/*inicio area do divisor*/

#divisorFita{
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

#divisorFita svg{
    width: 100%;
    height: 30px;
    display: block;
}

#svg1{
    rotate: 180deg;
}

/*fim area do divisor*/


/*inicio area ideais*/

#containerIdeais{
    max-width: 1000px;
}

.ideais{
    width: 320px;

    margin-bottom: 20px;
}

.ideais h2{
    color: var(--corPrin);
    text-align: start;
}

/*fim area ideais*/

/*inicio area resumo especialidades*/
#containerGeralRESPEC{
    max-width: 1000px;
}

.resumoEspecialidade{
    width: 300px;
    height: 300px;

    cursor: pointer;

    margin-bottom: 10px;
}

.resumoEspecialidade:hover{
    filter: brightness(50%);
}

.cotainerTextoResumo{
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.501);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    padding: 20px;
}

.resumoEspecialidade p, .resumoEspecialidade h3 {
    color: white;
    text-align: start;
}

#resumoPsicologia{
    background-image: url(../IMGS/especialidades/sobre_psicologia.png);
}

#resumoAvNeuro{
    background-image: url(../IMGS/especialidades/sobre_avNeuropsico.png);
}

#resumoAvBaria{
    background-image: url(../IMGS/especialidades/sobre_bariatrica.png);
}

#resumoFono{
    background-image: url(../IMGS/especialidades/sobre_fonoaudiologia.png);
}

#resumoNutri{
    background-image: url(../IMGS/especialidades/sobre_nutricao.png);
}

#resumoAcupuntura{
    background-image: url(../IMGS/especialidades/sobre_acupuntura.png);
}

/*fim area resumo especialidades*/

/*inicio area divisoria fale conosco*/

.divisoriaFaleConosco{
    background-image: url(../IMGS/background/img_bckgFaleConosco2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 350px;
}

.containerTextoFaleConosco{
    background-image: linear-gradient(to right, transparent, var(--corPrin) 70%);

    width: 100%;
    height: 100%;
}

.containerTextoFaleConosco h3, .containerTextoFaleConosco h1{
    color: white;

    padding: 10px;
}

/*fim area divisoria fale conosco*/