@charset "UTF-8";

/*Configs gerais*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: 'inter', Arial, sans-serif ;
}

@font-face {
    font-family: 'inter';
    src: url(../FONTS/Inter/static/Inter_18pt-Regular.ttf);
}

@font-face {
    font-family: 'inter bold';
    src: url(../FONTS/Inter/static/Inter_18pt-Bold.ttf);
}

/*variavei*/
:root{
    --corPrin: #255465;
    --corSec: #204771;
    
    --letraDestaque: #378AA7;
    --laranjaSec: #bb9045;
    --laranjaPrin: #FFB100;

    --textoCinzaPrin: rgba(0, 0, 0, 0.507);
    --textoCinzaSec: #A3A3A2;

    --fundoBrancoTransparente: rgba(255, 255, 255, 0.375);

    --fundoIcone: #F8F7F3;

    /*cores pro degrade insta*/
    --roxo: #9433E9;
    --rosa: #D7277D;
    --laranja: #F15E31;
}

/*inicio header*/

header{
    background-color: var(--corPrin);

    display: flex;
    justify-content: center;

    padding: 0px 10px 0px 10px;
}

#logoInstituto{
    width: 80px;
    height: 88px;
}

#navHeader{
    width: 100%;
}

#containerHeader{
    width: 90%;
}

#ulMenu{
    width: 100%;
}

header li{
    margin: 5px;
    padding: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 3px solid transparent;

    width: 100%;
}

header li:hover{
    border-bottom: 3px solid var(--corSec);
}

.liBtnFaleConosco{
    display: none;

    border: none;

    width: 135px;
}

.liBtnFaleConosco:hover{
    border: none;
}

header a{
    color: white !important;

    font-size: 1.125em !important;

    text-decoration: none;

    text-align: center;
}

#iconSeta{
    position: absolute;
}

.btnFaleConosco{
    border-bottom: none !important;

    text-decoration: none;

    background-color: var(--laranjaSec);

    padding: 10px;

    border-radius: 4px; 
}

.btnFaleConosco:hover{
    background-color: var(--laranjaPrin);
}

header nav{
    width: 70%;
}

#liEspecialidades{
    cursor: pointer;
}

#especialidades{
    width: 100%;
}

.especialidades{
    background-color: white;

    margin: 2px 0px;
}

.especialidades:hover{
    background-color: rgba(255, 255, 255, 0.726);
}

.especialidades a{
    color: var(--corPrin) !important;
}

.show{
    display: block;
}

.disappear{
    display: none;
}

/*fim header*/

/*inicio main*/

/*area frase topo*/
#fraseTopo{
    background-image: url(../IMGS/background/fundo_pontilhado.png);
    background-size: contain;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;

    height: 30vh;
}

h1,h2,h3{
    color: var(--corSec);

    text-align: center;

    font-family: 'inter bold';
}

#textoEspecTopo{
    color: var(--letraDestaque);

    font-family: 'inter bold';

    background-color: white;
}

.btnFaleConosco2{
    background-color: var(--laranjaPrin);

    color: white;

    text-decoration: none;

    border-radius: 10px;

    padding: 5px;

    font-family: 'inter bold';

}

.btnFaleConosco2:hover{
    background-color: var(--laranjaSec);
}
/*fim area frase topo*/

/*area intro pro saiba mais*/

#introProSaibaMais{
    margin: 20px 0px;

    padding: 30px 10px;
}

#containerGeralProSaibaMais{
    max-width: 1000px;
}

#introProSaibaMais h1{
    text-align: start;
}

#containerProSaibaMais{
    display: flex;
    justify-content: center;
    align-items: start;
}

.iconeMaoCoracao{
    min-width: 40px;
    min-height: 40px;

    margin-right: 10px;

    background-color: var(--fundoIcone);

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2px;
}

#containerProSaibaMais p{
    font-size: 0.9em;

    font-family: 'inter bold';

    color: var(--textoCinzaPrin);
}

/*fim area intro pro saiba mais*/

/*inicio area convenios*/

#areaConvenios{
    margin: 20px 0px 30px 0px;
    padding: 20px 10px;

    background-color: var(--fundoIcone);

    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.534);

}

#containerConvenios{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    max-width: 1000px;
}

.convenios{
    border: 2px solid var(--corSec);
    border-radius: 10px;

    margin: 10px 20px;

    width: 100px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.imgConvenios{
    width: 80px;
}

/*fim area convenios*/

/*inicio area atendimentos*/

#areaAtendimentos{
    background-image: url(../IMGS/background/fundo_pontilhado.png);
    background-size: contain;

    padding: 50px 0px;

    margin: 20px 0px 30px 0px;
}

.h1Espec{
    color: var(--laranjaPrin);
}

/*fim area atendimentos*/

/*inicio area especialidades home*/

#areaSobreEspecialidades h3{
    padding-bottom: 30px;
}

#containerSobreEspecialidades{
    max-width: 1000px;
}

.sobreEspecialidade{
    padding: 10px;

    margin-bottom: 10px;

    width: 300px;
}

.sobreEspecialidade h2{
    text-align: left;
}

.sobreEspecialidade p{
    font-size: 0.9em;

    font-family: 'inter bold';

    color: var(--textoCinzaPrin);
}



/*fim area especialidades home*/

/*fim main*/