@charset "UTF-8";

/*Configs gerais*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: 'inter', Arial, sans-serif ;
}

/*fonts family*/
@font-face {
    font-family: 'inter';
    src: url(../FONTS/Inter/static/Inter_18pt-Regular.ttf);
}

@font-face {
    font-family: 'inter bold';
    src: url(../FONTS/Inter/static/Inter_18pt-Bold.ttf);
}

@font-face {
    font-family: 'inter xlight';
    src: url(../FONTS/Inter/static/Inter_18pt-ExtraLight.ttf);
}

/*variavei*/
:root{
    --corPrin: #255465;
    --corSec: #204771;
    
    --letraDestaque: #378AA7;
    --laranjaSec: #bb9045;
    --laranjaPrin: #FFB100;

    --textoCinzaPrin: rgba(0, 0, 0, 0.507);
    --textoCinzaSec: #A3A3A2;

    --fundoBrancoTransparente: rgba(255, 255, 255, 0.375);

    --fundoIcone: #F8F7F3;

    --estrela: #FDB001;

    /*cores pro degrade insta*/
    --roxo: #9433E9;
    --rosa: #D7277D;
    --laranja: #F15E31;
}

/*inicio header*/

header{
    background-color: var(--corPrin);

    display: flex;
    justify-content: center;

    padding: 0px 10px 0px 10px;
}

#logoInstituto{
    width: 100px;
}

#navHeader{
    width: 100%;
}

#containerHeader{
    width: 90%;
}

#ulMenu{
    width: 100%;
}

header li{
    margin: 5px;
    padding: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 3px solid transparent;

    width: 100%;
}

header li:hover{
    border-bottom: 3px solid var(--corSec);
}

.liBtnFaleConosco{
    display: none;

    border: none;

    width: 135px;
}

.liBtnFaleConosco:hover{
    border: none;
}

#bodyIndex #aIndex, #bodySobre #aSobre, #bodyBastidores #aBastidores, #bodyPublicacoes #aPublicacoes{
    border-bottom: 3px solid var(--corSec);
}

header a{
    color: white !important;

    font-size: 1.125em !important;

    text-decoration: none;

    text-align: center;
}

#iconSeta{
    position: absolute;
}

.btnFaleConosco{
    border-bottom: none !important;

    text-decoration: none;

    background-color: var(--laranjaSec);

    padding: 10px;

    border-radius: 4px; 
}

.btnFaleConosco:hover{
    background-color: var(--laranjaPrin);
}

header nav{
    width: 70%;
}

#liEspecialidades{
    cursor: pointer;
}

#especialidades{
    width: 100%;
}

.especialidades{
    background-color: white;

    margin: 2px 0px;
}

.especialidades:hover{
    background-color: rgba(255, 255, 255, 0.726);
}

.especialidades a{
    color: var(--corPrin) !important;
}

.show{
    display: block;
}

.disappear{
    display: none;
}

/*fim header*/

/*inicio main*/

/*area frase topo*/
#fraseTopo{
    background-image: url(../IMGS/background/fundo_pontilhado.png);
    background-size: contain;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 50px 0px;
}

h1,h2,h3{
    color: var(--corSec);

    text-align: center;

    font-family: 'inter bold';
}

#textoEspecTopo{
    color: var(--letraDestaque);

    font-family: 'inter bold';

    background-color: white;
}

.btnFaleConosco2{
    background-color: var(--laranjaPrin);

    color: white;

    text-decoration: none;

    border-radius: 10px;

    padding: 5px;

    font-family: 'inter bold';

}

.btnFaleConosco2:hover{
    background-color: var(--laranjaSec);
}
/*fim area frase topo*/

/*inicio area instituto em numeros*/

#areaInstitutoNumeros{
    background-color: #204771;
}

#containerEstatisticas{
    max-width: 1000px;
}

.estatisticas{
    background-color: white;

    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.534);

    width: 250px;
    height: 220px;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 5px;


    margin: 10px;

}

.iconEstatistica{
    background-image: linear-gradient(to bottom, var(--corSec) 5%, var(--corPrin));

    width: 80px;
    height: 80px;

    border-radius: 50%;

    box-shadow: 1px 1px 8px #25546570;

    display: flex;
    justify-content: center;
    align-items: center;
}

.estatisticas p{
    font-size: 1.1em;
}

/*inicio area instituto em numeros*/

/*area intro pro saiba mais*/

#introProSaibaMais{
    margin: 20px 0px;

    padding: 30px 10px;
}

#containerGeralProSaibaMais{
    max-width: 1000px;
}

#introProSaibaMais h1{
    text-align: start;
}

#containerProSaibaMais{
    display: flex;
    justify-content: center;
    align-items: start;
}

.iconeMaoCoracao{
    min-width: 40px;
    min-height: 40px;

    margin-right: 10px;

    background-color: var(--fundoIcone);

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2px;
}

.textoEspecAzul, .textoCinza{
    font-size: 0.9em;

    font-family: 'inter bold';

    color: var(--textoCinzaPrin);
}

/*fim area intro pro saiba mais*/

/*inicio area convenios*/

#areaConvenios{
    margin: 20px 0px 30px 0px;
    padding: 20px 10px;

    background-color: var(--fundoIcone);

    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.534);

}

#containerConvenios{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    max-width: 1000px;
}

.convenios{
    border: 2px solid var(--corSec);
    border-radius: 10px;

    margin: 10px 20px;

    width: 100px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.imgConvenios{
    width: 80px;
}

/*fim area convenios*/

/*inicio area atendimentos*/

#areaAtendimentos, #areaAgendar{
    background-image: url(../IMGS/background/fundo_pontilhado.png);
    background-size: contain;

    padding: 50px 0px;

    margin: 20px 0px 30px 0px;
}

.h1Espec{
    color: var(--laranjaPrin);
}

/*fim area atendimentos*/

/*inicio area especialidades home*/

#areaSobreEspecialidades h3{
    padding-bottom: 30px;
}

#containerSobreEspecialidades{
    max-width: 1000px;
}

.sobreEspecialidade{
    padding: 10px;

    margin-bottom: 10px;

    width: 300px;
}

.sobreEspecialidade h2{
    text-align: left;
}

/*fim area especialidades home*/

/*slider profissionais*/

#areaQuemFazAcontecer{
    background-color: var(--corSec);
}

#areaQuemFazAcontecer h1{
    color: white;

    padding: 10px;
}

#containerSliderProfissionais{
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 300px;
}

.card-wrapper{
    max-width: 1000px;

    margin: 0 60px 35px;
    padding: 20px 10px;

    overflow-x: hidden;
}

.card-list{
    padding: 0px;
}

.card-list .card-item{
    width: 300px;

    display: block;

    list-style: none;
}

.card-list .card-image{
    width: 100%;

    border-radius: 10px;

    object-fit: cover;
}

.card-wrapper .swiper-slide-button{
    color: white;
    margin-top: -35px;
}

.swiper-pagination-bullet-active{
    background-color: white;
}


/*modais de ampliacao de img*/
.modalImg {
    /* Esconde o modal por padrão */
    display: none;

    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0,0,0,0.9);
    
    align-items: center;
    justify-content: center;
}

.modalImg:target {
    /* Mostra o modal quando o link de âncora é clicado */
    display: flex;
}

.modalImg img{ 
    /* Estilo para a imagem ampliada dentro do modal */
    max-width: 80%;
    max-height: 80vh;

    margin-top: 20px;

    object-fit: contain;

    border-radius: 8px;

    box-shadow: 0 10px 50px rgba(0,0,0,0.5);
}


.fechar {
    /* Botão de fechar (o 'x') */
    position: absolute;
    top: 20px;
    right: 35px;

    color: #f1f1f1;

    font-size: 40px;
    font-weight: bold;
    text-decoration: none;

    cursor: pointer;

    transition: all 0.3s ease;

    z-index: 10000;

    line-height: 1;

    padding: 10px 15px;
}

.fechar:hover {
    color: #ff4444;

    transform: rotate(90deg);
}

/*fim slider profissionais*/

/*inicio area avaliacoes*/

.carousel{
    margin: 50px auto;
    padding: 10px;

    width: 90%;
    max-width: 1000px;
    height: auto;

    display: flex;

    overflow-x: auto;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.group{
    display: flex;

    animation: spin 50s infinite linear;
}

.card-avaliacoes{
    width: 280px;
    height: auto;

    margin-right: 100px;
    padding: 10px;

    border-radius: 10px;

    align-content: center;

    border: none;

    background-color: var(--fundoBrancoTransparente);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.563);

    display: flex;
    flex-direction: column;
}

.circulo-letra-avaliacao{
    border-radius: 50%;

    width: 50px;
    height: 50px;

    background-color: var(--corPrin);

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 10px;
}

.letra-nome{
    color: white;

    font-size: 1.2em;
}

.estrelas-avaliacao{
    color: var(--estrela);
}

.texto-avaliacao{
    padding-bottom: 10px;

    border-bottom: 2px solid rgba(128, 128, 128, 0.463);
}

.nome-avaliador{
    color: var(--textoCinzaPrin);
}

@keyframes spin{
    from {translate: 0;}
    to{translate: -100%;}
}

/*fim area avaliacoes*/

/*inicio area unidades*/

#areaUnidades{
    padding: 10px;

    background-color: var(--fundoIcone);

    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.534);
}

iframe{
    width: 300px;
    height: 200px;

    margin-bottom: 30px;
}

.textoUnidades{
    color: var(--laranjaPrin);
}

/*inicio area unidades*/

/*fim main*/

/*inicio footer*/

footer{
    background-color: var(--corPrin);
}

#containerFooter{
    width: 90%;
    max-width: 1000px;
}

#direitosContainer{
    width: 90%;
}

.direitos{
    font-family: 'inter xlight';

    text-align: center;
}

#linkDev{
    color: white;
}

/*fim footer*/

/*inicio pop up*/

#pop-up{
    background-color: white;

    display: block;

    width: 100%;

    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 1000;

    padding: 10px;
}

.btnPopUp{
    border: none;
    border-radius: 5px;

    padding: 5px;

    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.548);

    margin: 5px;
}

#btnPopUpA{
    background-color: var(--corSec);
    color: white;
}

#btnPopUpA:hover{
    background-color: #20477190;
}

#btnPopUpF{
    color: var(--corSec);
}

#btnPopUpF:hover{
    background-color: rgb(203, 203, 203);
}

/*fim pop up*/