@charset "UTF-8";

/*Configs gerais*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: 'inter', Arial, sans-serif ;
}

@font-face {
    font-family: 'inter';
    src: url(../FONTS/Inter/static/Inter_18pt-Regular.ttf);
}

/*variavei*/
:root{
    --corPrin: #255465;
    --corSec: #204771;
    
    --letraDestaque: #378AA7;
    --laranjaSec: #bb9045;
    --laranjaPrin: #FFB100;

    --textoCinzaPrin: rgba(0, 0, 0, 0.507);
    --textoCinzaSec: #A3A3A2;

    --fundoBrancoTransparente: rgba(255, 255, 255, 0.375);

    /*cores pro degrade insta*/
    --roxo: #9433E9;
    --rosa: #D7277D;
    --laranja: #F15E31;
}

/*inicio header*/

header{
    background-color: var(--corPrin);

    display: flex;
    justify-content: center;

    padding: 0px 10px 0px 10px;
}

#navHeader{
    width: 100%;
}

#containerHeader{
    width: 100%;
}

#ulMenu{
    justify-content: space-between !important;

    max-width: 900px;
    width: 90%;
}

header li{
    margin: 5px;
}

header a{
    color: white !important;

    font-size: 1.125em !important;

    border-bottom: 3px solid transparent;

    text-decoration: none;
}

header a:hover{
    border-bottom: 3px solid var(--corSec);
}

.btnFaleConosco{
    border-bottom: none !important;

    text-decoration: none;

    background-color: var(--laranjaSec);

    padding: 10px;

    border-radius: 4px;

    display: none;
}

.btnFaleConosco:hover{
    background-color: var(--laranjaPrin);
}

header nav{
    width: 70%;
}

/*fim header*/

