@charset "UTF-8";

/*Configs gerais*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: 'inter', Arial, sans-serif ;
}

@font-face {
    font-family: 'inter';
    src: url(../FONTS/Inter/static/Inter_18pt-Regular.ttf);
}

@font-face {
    font-family: 'inter bold';
    src: url(../FONTS/Inter/static/Inter_18pt-Bold.ttf);
}

/*variavei*/
:root{
    --corPrin: #255465;
    --corSec: #204771;
    
    --letraDestaque: #378AA7;
    --laranjaSec: #bb9045;
    --laranjaPrin: #FFB100;

    --textoCinzaPrin: rgba(0, 0, 0, 0.507);
    --textoCinzaSec: #A3A3A2;

    --fundoBrancoTransparente: rgba(255, 255, 255, 0.375);

    /*cores pro degrade insta*/
    --roxo: #9433E9;
    --rosa: #D7277D;
    --laranja: #F15E31;
}

/*inicio header*/

header{
    background-color: var(--corPrin);

    display: flex;
    justify-content: center;

    padding: 0px 10px 0px 10px;
}

#navHeader{
    width: 100%;
}

#containerHeader{
    width: 90%;
}

#ulMenu{
    width: 100%;
}

header li{
    margin: 5px;
    padding: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 3px solid transparent;

    width: 100%;
}

header li:hover{
    border-bottom: 3px solid var(--corSec);
}

.liBtnFaleConosco{
    display: none;

    border: none;

    width: 135px;
}

.liBtnFaleConosco:hover{
    border: none;
}

header a{
    color: white !important;

    font-size: 1.125em !important;

    text-decoration: none;

    text-align: center;
}

#iconSeta{
    position: absolute;
}

.btnFaleConosco{
    border-bottom: none !important;

    text-decoration: none;

    background-color: var(--laranjaSec);

    padding: 10px;

    border-radius: 4px; 
}

.btnFaleConosco:hover{
    background-color: var(--laranjaPrin);
}

header nav{
    width: 70%;
}

#liEspecialidades{
    cursor: pointer;
}

#especialidades{
    width: 100%;
}

.especialidades{
    background-color: white;

    margin: 2px 0px;
}

.especialidades:hover{
    background-color: rgba(255, 255, 255, 0.726);
}

.especialidades a{
    color: var(--corPrin) !important;
}

.show{
    display: block;
}

.disappear{
    display: none;
}

/*fim header*/

/*inicio main*/

#fraseTopo{
    background-image: url(../IMGS/background/fundo_pontilhado.png);
    background-size: contain;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px;
}

#fraseTopo h1, #fraseTopo h2{
    color: var(--corSec);

    text-align: center;

    font-family: 'inter bold';
}

#textoEspecTopo{
    color: var(--letraDestaque);

    font-family: 'inter bold';
}

.btnFaleConosco2{
    background-color: var(--laranjaPrin);

    color: white;

    text-decoration: none;

    border-radius: 10px;

    padding: 5px;

    font-family: 'inter bold';

}

.btnFaleConosco2:hover{
    background-color: var(--laranjaSec);
}

/*fim main*/